<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.modo.sensitive.dao.StrategyMapper">
  <resultMap id="BaseResultMap" type="cn.modo.sensitive.pojo.Strategy">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="strategy_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="strategy_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="strategy_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_key, strategy_name, strategy_desc, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from md_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from md_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.modo.sensitive.pojo.Strategy">
    insert into md_strategy (id, strategy_key, strategy_name, 
      strategy_desc, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{strategyKey,jdbcType=VARCHAR}, #{strategyName,jdbcType=VARCHAR}, 
      #{strategyDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.modo.sensitive.pojo.Strategy">
    insert into md_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="strategyKey != null">
        strategy_key,
      </if>
      <if test="strategyName != null">
        strategy_name,
      </if>
      <if test="strategyDesc != null">
        strategy_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="strategyKey != null">
        #{strategyKey,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null">
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyDesc != null">
        #{strategyDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.modo.sensitive.pojo.Strategy">
    update md_strategy
    <set>
      <if test="strategyKey != null">
        strategy_key = #{strategyKey,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null">
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyDesc != null">
        strategy_desc = #{strategyDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.modo.sensitive.pojo.Strategy">
    update md_strategy
    set strategy_key = #{strategyKey,jdbcType=VARCHAR},
      strategy_name = #{strategyName,jdbcType=VARCHAR},
      strategy_desc = #{strategyDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>